@font-face {
    font-family: Barlow;
    src: url(fonts/BarlowSemiCondensed-SemiBold.ttf);

}

@font-face {
    font-family: Barlow;
    src: url(fonts/BarlowSemiCondensed-Regular.ttf);

}

@font-face {
    font-family: Barlow;
    src: url(fonts/BarlowSemiCondensed-Medium.ttf);
}

*{

    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body{
    
    background-color: antiquewhite;

    height: 100vh;
    
}

html{min-height: 100%;}

main{
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 100px auto 100px auto;
    max-width: 1200px;

}

div{border-radius: 8px;}

.div1{

    display: grid;
    grid-template-columns: 600px 300px;


}

.div2{

    display: grid;
    grid-template-columns: 600px 300px;
    margin-top: 30px;

}

.Daniel{
    
    background-color: hsl(263, 55%, 52%);
    margin-right: 10px;
    height: 300px;
    width: 600px;
    color: white;
    padding: 30px;

}

.Jonathan{
    
    background-color: hsl(217, 19%, 35%);
    margin-left: 20px;
    height: 300px;
    width: 300px;
    color: white;
    padding: 30px;

}

.Jeanette{
    
    background-color: white;
    margin-right: 10px;
    height: 300px;
    width: 300px;
    padding: 30px;

}

.Patrick{

    background-color: hsl(219, 29%, 14%);
    margin-left: -280px;
    height: 300px;
    width: 600px;
    color: white;
    padding: 30px;

}

.Kira{
    
    background-color: white;
    min-width: 300px;
    width: 300px;
    height: 630px;
    margin-left: 40px;
    padding: 30px;

}

.divKira{max-width: 400px;}

img{
    
    height: 40px;
    border-radius: 20px;
    border: 2px;
    border-style: solid;
    border-color: white;
    float: left;

}

.imgDaniel{

    border-color: hsl(264, 82%, 80%);

}

.imgJonathan{

    border-color: hsl(0, 0%, 81%);

}

.imgPatrick{

    border-color: hsl(263, 55%, 52%);

}

p{
    font-family: Barlow;
    font-size: 15px;
    line-height: 20px;

}

.p1, .p2, .p3, .p4, .p5{
    
    width: 140px;
    margin-left: 60px;
    font-size: 16px;

}

.p01{
    
    margin-left: 60px;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 13px;

}

.p001{
    
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: 600;

}